{% extends "base.html" %}

{% block title %}{{ album.title }} - {{ site.title }}{% endblock %}

{% block header %}
<nav>
    <div class="prev">
        {% if album.prev %}
        <a href="{{ album.prev | album_url }}"><span aria-hidden="true">&larr; </span>previous</a>
        {% endif %}
    </div>
    <div>
        <a href="{{ site.base_url }}"><span aria-hidden="true">&uarr; </span>all albums</a>
    </div>
    <div class="next">
        {% if album.next %}
        <a href="{{ album.next | album_url }}">next<span aria-hidden="true"> &rarr;</span></a>
        {% endif %}
    </div>
</nav>
{% endblock %}

{% block content %}
<h2>{{ album.title }}</h2>
<div class="thumbs">
    {% for photo in album.photos %}
    <div class="thumb">
        <a href="{{ loop.index | photo_url }}">
            <img src="{{ photo | asset_url("thm") }}" alt="{{ photo.metadata.alt }}">
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
